@section Stylesheets {

    <link href="~/Content/css/animate.css" rel="stylesheet" />
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link href="~/css/style.css" rel="stylesheet" />
        <link href="~/content/css/animate.css" rel="stylesheet" />
        <link href="@Url.Content("~/Content/css/animate.css")" rel="stylesheet" type="text/css" />
        <script src="~/js/mylib.js"></script>
    </head>
    <body>

        <h3 class="format">Index Page</h3>
        <img src="~/images/thumb1.gif" onclick="clickMe()" />

    </body>
    </html>