@model X.PagedList.IPagedList<Project.Models.Product>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Home Page";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/?cate=0">All</a></h4>
                            </div>
                        </div>
                        @foreach (Category item in ViewBag.Categories)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="/?cate=@item.CategoryId">@item.CategoryName</a></h4>
                                </div>
                            </div>
                        }
                        <div class="shipping text-center">
                            <!--shipping-->
                            <img src="images/home/shipping.jpg" alt="" />
                        </div><!--/shipping-->
                    </div><!--/category-productsr-->
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>

                    @foreach (Product item in @Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/images/shop/@item.Image" alt="" />
                                        <h2>$@item.Price</h2>
                                        <p>@item.ProductName</p>
                                        @{
                                            var user = Context.Session.Get<User>("user");
                                        }
                                        @if (user != null)
                                        {
                                            <button class="ajax-add-cart btn btn-default add-to-cart" data-id="@item.ProductId">Add to Cart</button>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div><!--features_items-->
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</section>


@section scripts {
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            $(".ajax-add-cart").click(function () {
                $.ajax({
                    url: "Home/AddCart",
                    data: {
                        id: $(this).data("id"),
                        quantity: 1,
                        type: "ajax"
                    },
                    success: function (data) {
                        console.log(data);
                        Swal.fire({
                            icon: 'success',
                            title: 'Add to cart successfull !',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        $("#cart-count").html("("+data.quantity+")");
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!'
                        })
                    }

                });
            });
        });
    </script>
}